<div class="container" ng-controller="controller3">
	<h1 class="textcenter">Details page</h1>
	<h1 class="textcenter">{{module}}</h1>
	<div class="div-table">
		<div class="div-table-row" >
			<div class="div-table-col">Customer ID</div>
			<div class="div-table-col"> {{customer.id}} </div>
		</div>
		<div class="div-table-row">
			<div  class="div-table-col">Customer Name</div>
			<div class="div-table-col">{{customer.name}}</div>
		</div>
		<div class="div-table-row" >
			<div  class="div-table-col">Customer Address</div>
			<div class="div-table-col">{{customer.address}}</div>
		</div>
		<div class="div-table-row" >
			<div  class="div-table-col">Customer Designation</div>
			<div class="div-table-col">{{customer.designation}}</div>
		</div>
	</div>
</div>